<div class="show-represent" ng-controller="Show.Represent.Controller">
    <ion-content class="content has-footer has-nav-footer">
        <ion-refresher pulling-text="数据更新中..." on-refresh="doRefresh()"></ion-refresher>
        <div class="header-count">
            <input type="text" class="search-input-box" placeholder="搜索活动" on-touch="goSearch()" readonly/>
        </div>
        <!-- banner -->
        <div class="banner-slider-box" style="position: relative;">
            <ion-slide-box class="slider-box" does-continue="true" show-pager="false" auto-play="true" >
                <ion-slide ng-repeat="banner in banner_info" class="face-banner-item-container" on-finish-render-filters>
                    <a ng-href="{{ banner.action_url }}">
                        <img ng-src="{{ banner.img }}" alt="{{ banner.text }}">
                    </a>
                    <!-- <div class="banner-title-text">{{ banner.title }}</div> -->
                </ion-slide>
            </ion-slide-box>
        </div>
        <!-- activity -->
        <div class="activity-box">
            <h3 class="active-title">
                <img class="img-crown" src="image/crown.png">
                <span ng-bind="recommendShow.title"></span>
            </h3>
            <div class="activity-item row">
                <div class="col-50" ng-repeat="show in recommendShow.shows" on-finish-render-filters>
                    <a ui-sref="{{ showLink(show.isCharity, show.id) }}">
                        <div class="img-box">
                            <img ng-src="{{ show.img }}" alt="">
                        </div>
                        <p class="activity-item-title" ng-bind="show.title"></p>
                        <p class="activity-item-tips">
                            <span ng-if="show.isCharity == 0">
                                <img class="heart" src="image/heart.png" alt="">共
                                <strong class="text-warning" ng-bind="show.voteCount"></strong>票
                            </span>
                            <span ng-if="show.isCharity == 1">
                                <img class="heart" src="image/heart.png" alt="">已筹集
                                <strong class="text-warning" ng-bind="show.voteCount"></strong>份爱心
                            </span>
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="active-search-line row">
            <div class="col-50">
                <span class="search-line-title">
                    <img class="img-fire" src="image/fire.png" alt="">{{ hotShowTitle }}
                </span>
            </div>
            <a class="col-50 text-right" ui-sref="show-all()">
                <span  class="search-line-title">更多&gt;&gt;</span>
            </a>
        </div>
        <!-- 活动详情 -->
        <div class="active-box">
            <div class="active-content padding-left padding-right" ng-repeat="show in hotShow" on-finish-render-filters>
                <a ui-sref="{{ showLink(show.isCharity, show.id) }}">
                    <div class="clearfix">
                        <div class="" style="float:left; width:40%; padding:0; overflow:hidden;">
                            <div class="img-box" ng-class="{'has-finished' : show.isExpired=='1'}">
                                <img ng-src="{{ show.img }}" alt="">
                            </div>
                        </div>
                        <div class="" style="float:left; width:60%; padding:0;">
                            <div class="active-description">
                                <h3 class="active-title" ng-bind="show.title"></h3>
                                <p class="description-info" ng-bind="show.subTitle"></p>
                                <p class="more">
                                    <img src="image/heart-pink.png" alt="">共
                                    <span class="num" ng-bind="show.voteCount"></span> 票
                                    <!-- <strong ng-if="show.isCharity == 0">(普通)</strong>
                                    <strong ng-if="show.isCharity == 1">(公益)</strong> -->
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <ion-infinite-scroll ng-if="moreDataCanBeLoaded" on-infinite="getHotShowData()" distance="1%"></ion-infinite-scroll>
        <div class="padding text-center text-orange" ng-show="!moreDataCanBeLoaded">没有更多数据了</div>
    </ion-content>
</div>
